#principal
{
    background: #E0FFFF;
    width: 800px;
    height: 800px;
}

#principal div
{
    transition-property: top, left;
    transition-duration:  0.2s;
    transition-timing-function:  linear; 
}


